/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

.container{
    background: #fff;
}
p, a, h1, h2, h3, h4, h5, div{
    color: #000 !important;
    background: none !important;
}
.header{
    background: none;
    position: static;
    header{
        background: #fff;
        }
}
footer{
    background: #fff;
}