// This import applies a global reset to any page that imports this stylesheet.
@import "compass/reset";

// To configure blueprint, edit the partials/_base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint/grid";

// Generate the blueprint framework according to your configuration:

@import "compass/layout/sticky-footer";

@include sticky-footer(255px, ".container", ".footer-push", "footer");

$icons: sprite-map("sprites/*.png");
$base-color: #2daebf;
body{
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size:14px;
    letter-spacing:normal;
}
.container{
    background-image: url('../images/background.png');
    position: relative;
}
.header{
      background: url('../images/menu_back.png') repeat-x;
      background-position: bottom;
      height: 115px;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 100;
  
      header{
        background: url('../images/background.png');
        height: 103px;
        width: 100%;
        #menu{
          @include container;
          ul.menu{
            @include column(8, true);
            @include prepend(14);
            margin-top: 80px;
            li{
                display: inline-block;
                margin: 0 15px;
                a{
                  color: #4c4d4f;
                  text-decoration: none;
                  font-size: 17px;
                &:hover{
		  color: $base-color;
	        }
                }
            }
          }
          .logo{
            @include column(2, true);
            margin-top: 22px;
            a{
                img{
                    width: 75px;
                    height: 73px;
                }
            }
          }
        }
      }
}
.content {
  @include container;
  color: #404040;
  margin-bottom: 20px;
  padding-top: 115px;
  font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
  .left-address{
    @include column(5);
    .address{
        h2{
           font-size: 30px;
           color: $base-color;
           margin-top: 35px;
        }
        address{
            margin-top: 20px;
            font-size: 14px;
            .skype{
                p{
                  span{
                    color: $base-color;
                  }
                }
            }
            .mail{
                p{
                  span{
                    color: $base-color;
                    text-decoration: underline;
                  }
                }
            }
        }
    }
  }
  .right-address{
    @include column(18, true);
    @include prepend(1);
    h2{
        font-size: 30px;
        color: $base-color;
        margin-top: 35px;
    }
    #map{
      display: block;
      margin-top: 20px;
      height: 300px;
      border: 10px solid #fff;
      width: 690px;
    }
  }
  .form-txt{
    @include column(6);
    margin-top: 40px;
    h2{
        font-size: 30px;
        color: $base-color;
    }
    p{
        color: #acacac;
        margin-top: 20px;
        width: 185px;
    }
  }
  form{
    @include column(18, true);
    margin-top: 40px;
    .form{
        font-family: 'PT Sans', Helvetica, Arial, sans-serif;
        margin-top: 15px;
        p{
            margin-top: 10px;
            margin-bottom: 3px;
        }
        input.error{
            border: 1px solid #eb7272;
            &:hover{
		border: 1px solid #eb7272;
	    }
        }
        input{
            width: 470px;
            height: 30px;
            color: #4c4d4f;
            font-family: 'PT Sans', Helvetica, Arial, sans-serif;
            text-indent: 15px;
            border-radius: 5px;
            border: 1px solid #e1e1e1;
            font-size: 14px;
            &:hover{
		border: 1px solid $base-color;
	    }
        }
        textarea{
            width: 470px;
            height: 195px;
            color: #4c4d4f;
            font-family: 'PT Sans', Helvetica, Arial, sans-serif;
            text-indent: 15px;
            border-radius: 5px;
            border: 1px solid #e1e1e1;
            padding-top: 10px;
            font-size: 14px;
            &:hover{
		border: 1px solid $base-color;
	    }
        }
        span{
            margin-left: 15px;
            color: #4c4d4f;
        }
        input.send-button{
            background: none;
            border: none;
            text-decoration: underline;
            color: $base-color;
            font-size: 18px;
            width: 45px;
            text-align: center;
            margin-left: 430px;
            padding: 0;
            display: block;
            text-indent: 0;
            &:hover{
		cursor: pointer;
                border: none;
	    }
        }
    }
  }
  .work{
    margin-top: 20px;
    .work-item, .work-item-last{
        @include column(8);
        margin-top: 30px;
        a{
            img{
                width: 310px;
                height: 200px;
            }
        }
        .name{
            font-size: 18px;
            text-decoration: none;
            color: #363636;
            display: inline-block;
            margin-top: 5px;
        }
        .next{
            display: inline-block;
            width: 16px;
            height: 16px;
            float: right;
            margin-top: 7px;
            background: url('../images/next.png');
            &:hover{
		background: url('../images/next_h.png');
	    }
        }
    }
    .work-item-last{
        @include column(8, true);
    }
  }
}
footer{
    background:#4f4f4f;
    .footer-container{
	@include container;
	color:#fff;
	line-height:24px;
	padding-top:40px;
	h4{
	    color:#979797;
	}
	ul{
	    margin-top:35px;
	    li{
	       a{
		 color: #fff;
		 text-decoration: none;
	       &:hover{
		   color: $base-color;
	       }
	       }
	    }
	}
	.sitemap{
	    @include column(2);
	    @include prepend(2);
	}
	.resources{
	    @include column(2);
	}
	.tweet{
	    @include column(8);
	    @include prepend(1);
	    p{
		background-color: #2daebf;
		margin-top: 27px;
		padding: 8px;
		position:relative;
		span{
		    display:block;
		    width:23px;
		    height:24px;
		    position:absolute;
		    bottom:0;
		    right:0;
		    background: sprite($icons, bracket) no-repeat;
		}
	    }
	    span{
		float:right;
	    }
	}
	.address{
	    @include column(5);
	    @include prepend(1);
	    h4{
		text-decoration: underline;
	    }
	    address{
		margin-top:35px;
	    }
            a{
                color: #2daebf;
            }
	}
	.social{
	    @include column(3, true);
            a{
                float: right;
            }
	}
    }
}