// This import applies a global reset to any page that imports this stylesheet.
@import "compass/reset";

// To configure blueprint, edit the partials/_base.sass file.
@import "partials/basegrid";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint/grid";

// Generate the blueprint framework according to your configuration:

@import "compass/css3/inline-block";
@import "compass/utilities/sprites/base";
@import "compass/layout/sticky-footer";


//import base rules
@import "partials/base";

//import home page rules
@import "partials/home";

//import work page rules
@import "partials/work";

//import portfolio horizontal page rules
@import "partials/work_h";

//import portfolio vertical page rules
@import "partials/work_v";

//import team page rules
@import "partials/team";

//import contact page rules
@import "partials/contacts";



