!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
    %title Webmil
    %link{'rel' => 'stylesheet', 'href' => 'stylesheets/screen.css', 'media' => 'screen, projection'}
    %link{'rel' => 'stylesheet', 'href' => 'stylesheets/310.css', 'media' => 'screen and (max-width: 350px)'}
    %link{'rel' => 'stylesheet', 'href' => 'stylesheets/310.css', 'media' => 'screen and (max-device-width: 350px)'}
    %link{rel: 'stylesheet', href: 'stylesheets/print.css', media: 'print'}
    /[if lt IE 9]
      %script{src: 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}
    %link{'rel' => 'stylesheet', 'href' => 'http://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow&subset=latin,cyrillic'}
    %script{type: 'text/javascript', src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
    %script{type: 'text/javascript', src: 'js/resize.js'}
    %script{type: 'text/javascript', src: 'js/jquery.movingboxes.js'}
  %body
    .header
      %header
        #menu
          %nav
            %ul.menu
              %li#home
                %a{:href => "index.html"} Home
              %li#work
                %a{:href => "work.html"} Work
              %li#team
                %a{:href => "team.html"} Team
              %li#contact
                %a{:href => "contact.html"} Contact
          .logo
            %a{href: "index.html"}
              %img{src: "images/logo.png", alt: "Webmil"}
    .container
      %ul#slider
        %li
          %img{src: "images/foto.png", alt: "#"}
          .slider-txt
            %h6 Webmil team
            %p Evident in plants, animals, the shape of galaxies, and even your DNA, this proportionality blueprint is so pervasive that humans have noticed it for thousands of years. We’ve used it, too — it can be seen in art and architecture 
        %li
          %img{src: "images/foto.png", alt: "#"}
          .slider-txt
            %h6 Webmil office
            %p 123123
        %li
          %img{src: "images/foto.png", alt: "#"}
          .slider-txt
            %h6 Webmil
            %p Evident in plants, animals, the shape of galaxies, and even your DNA, this proportionality blueprint is so pervasive that humans have noticed it for thousands of years. We’ve used it, too — it can be seen in art and architecture 
      .content
        .home
          %section.development
            %h2 Development
            %p It is easy to dive in and start building an idea. The hard part is converting it into design strategy that people understand and convert into a product.
            %p We love the challenge of application design. It has been our bread and butter since 1998.
          %section.web-design
            %h2 Web design
            %p Customers spend more time on the web using mobile devices than using desktop.
            %p Narrow screen constraints, unique interaction patterns, and individual context make mobile design an awesome challenge we excel at.
          %section.complex-websites
            %h2 Complex Websites
            %p Gone are the days of static ‘brochure’ websites. Today we help businesses attract customers and make money online.
            %p This means creating a marketing site with functional components and messaging that drives people to take action.
          %section.work
            %h2 Latest Works
            %ul
              %li.work-item
                %figure
                  %a{href: "work_open_h.html"}
                    %img{src: "images/work1.png", alt: "Work"}
                  %figcaption
                    %a{href: "work_open_h.html"}
                      %h5
                        Західні Енергетичні Транзити
                        %span.next
              %li.work-item
                %figure
                  %a{href: "work_open_h.html"}
                    %img{src: "images/work1.png", alt: "Work"}
                  %figcaption
                    %a{href: "work_open_h.html"}
                      %h5
                        Західні Енергетичні Транзити
                        %span.next
              %li.work-item-last
                %figure
                  %a{href: "work_open_h.html"}
                    %img{src: "images/work3.png", alt: "Work"}
                  %figcaption
                    %a{href: "work_open_h.html"}
                      %h5
                        Західні Енергетичні Транзити
                        %span.next
          %section.about-us
            %h2 About Us
            %p We're not just a web design agency. We're not just a graphic design firm. We're not just coders, and we're not just artists. We're a team of T-shaped interaction designers and design strategists who help grow businesses. (Oh, and we're not just dudes with expensive chairs, either.)
            %p To get an idea of how we work, take a look at one of our extranet sites. It's a project we did for a nonprofit in 24 coffee-fueled hours.
            %p We're not just a web design agency. We're not just a graphic design firm. We're not just coders, and we're not just artists. We're a team of T-shaped interaction designers and design strategists who help grow businesses. (Oh, and we're not just dudes with expensive chairs, either.)
            %p o get an idea of how we work, take a look at one of our extranet sites. It's a project we did for a nonprofit in 24 coffee-fueled hours.
          %section.latest-blog
            %h2 Latest Blog Posts
            %p We write about interaction design, design strategy, and more in our blog.
            %a{href: "#"} What We Learned from Open Source in 2011
            %p
              %time{datetime:"2011-12-23"}
                December 23, 2011
              by Jonathan• 
              %span{value: 1} 1 Comments
            %a{href: "#"} What We Learned from Open Source in 2011
            %p
              %time{datetime:"2011-12-23"}
                December 23, 2011
              by Jonathan•
              %span{value: 1} 1 Comments
            %a{href: "#"} What We Learned from Open Source in 2011
            %p
              %time{datetime:"2011-12-23"}
                December 23, 2011
              by Jonathan•
              %span{value: 1} 1 Comments
            %a{href: "#"} What We Learned from Open Source in 2011
            %p
              %time{datetime:"2011-12-23"}
                December 23, 2011
              by Jonathan•
              %span{value: 1} 1 Comments
          %section.our-team
            %h2 Our Team
            %ul.employees
              %li.vcard
                %img.photo{src: "images/team.png", alt: "Team"}
                %p.fn Surna Name
                %p.title Developer
              %li.vcard
                %img.photo{src: "images/team.png", alt: "Team"}
                %p.fn Name
                %p.title Developer
              %li.vcard
                %img.photo{src: "images/team.png", alt: "Team"}
                %p.fn Name
                %p.title Developer
              %li.vcard
                %img.photo{src: "images/team.png", alt: "Team"}
                %p.fn Name
                %p.title Developer
              %li.vcard
                %img.photo{src: "images/team.png", alt: "Team"}
                %p.fn Name
                %p.title Developer
              %li.vcard
                %img.photo{src: "images/team.png", alt: "Team"}
                %p.fn Name
                %p.title Developer
              %li.vcard
                %img.photo{src: "images/team.png", alt: "Team"}
                %p.fn Name
                %p.title Developer
              %li.vcard
                %img.photo{src: "images/team.png", alt: "Team"}
                %p.fn Name
                %p.title Developer
          %section.clients
            %h2 Clients
            %img{src: "images/1.png", alt: "Clients"}
            %img{src: "images/2.png", alt: "Clients"}
            %img{src: "images/3.png", alt: "Clients"}
            %img{src: "images/5.png", alt: "Clients"}
            %img{src: "images/3.png", alt: "Clients"}
            %img{src: "images/4.png", alt: "Clients"}
            %img{src: "images/5.png", alt: "Clients"}
            %img{src: "images/3.png", alt: "Clients"}
      .footer-push
    %footer
      .footer-container
        .sitemap
          %h4 Sitemap
          %ul
            %li
              %a{:href => "#"} home
            %li
              %a{:href => "#"} work
            %li
              %a{:href => "#"} team
            %li
              %a{:href => "#"} contact
        .resources
          %h4 Resources
          %ul
            %li
              %a{:href => "#"} facebook
            %li
              %a{:href => "#"} twitter
            %li
              %a{:href => "#"} RSS feed
            %li
              %a{:href => "#"} tumblr
        .tweet
          %h4 What we're into right now
          %p 
            The @namename site we've been working on for @namename1 has won redesign of the year at the UK eCommerce awards. Back slaps all round!
            %span
          %span @webmillab
        .address{itemscope: true,  itemtype: "http://schema.org/Organization"}
          %h4 Get in touch with us
          %meta{itemprop: "name", content: "Webmil"}
          %address{itemscope: true, itemprop: "address" ,itemtype: "http://schema.org/PostalAddress"}
            .tel{itemprop: "telephone"} +38 (0342) 735 448
            .mail{itemprop: "email"} info@webmil.com.ua
            .locality{itemprop: "addressLocality"} Україна, Івано-Франківськ,
            .street{itemprop: "streetAddress"} вул. Української Дивізії, 5а
          %a{href: "#"} Map & directions
        .social
          %a{:href => "#"}
            %img{src: "images/face.png", alt: "face" }
    %script{'type'=> 'text/javascript'}
      :plain
        $(document).ready(function() {
          $('#slider').movingBoxes({
            startPanel   : 1,      // start with this panel
            wrap         : true,   // if true, the panel will "wrap" (it really rewinds/fast forwards) at the ends
            buildNav     : true,   // if true, navigation links will be added
            fixedHeight  : false,
            reducedSize  : 1,       // non-current panel size: 80% of panel size
            hashTags     : false,
            speed : 500,
          initialized  : function(){
                $(".mb-wrapper").animate({opacity: 1})
            }
          });
        });
        