!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title Webmil
    %link{'rel' => 'stylesheet', 'href' => 'stylesheets/screen.css', 'media' => 'screen, projection'}
    %link{'rel' => 'stylesheet', 'href' => 'http://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow&subset=latin,cyrillic'}
    .header
      %header
        #menu
          %nav
            %ul.menu
              %li#home
                %a{:href => "index.html"} Home
              %li#work
                %a{:href => "work.html"} Work
              %li#team
                %a{:href => "team.html"} Team
              %li#contact
                %a{:href => "contact.html"} Contact
          .logo
            %a{href: "index.html"}
              %img{src: "images/logo.png"}
    .container
      .content
        .team
          %section.development
            %h2
              %span
              Development
            %p It is easy to dive in and start building an idea. The hard part is converting it into design strategy that people understand and convert into a product.
            %p We love the challenge of application design. It has been our bread and butter since 1998.
          %section.web-design
            %h2
              %span
              Web design
            %p Customers spend more time on the web using mobile devices than using desktop.
            %p Narrow screen constraints, unique interaction patterns, and individual context make mobile design an awesome challenge we excel at.
          %section.complex-websites
            %h2
              %span
              Complex Websites
            %p Gone are the days of static ‘brochure’ websites. Today we help businesses attract customers and make money online.
            %p This means creating a marketing site with functional components and messaging that drives people to take action.
          %section.code-quality          
            .code-quality-txt
              %h2 Code Quality
              %p The only constant is change and software needs to respond well to it. Thus, code quality is a must in our day to day. And we know 100% test coverage is not enough —it is still mandatory though!
              %p Through techniques such as refactoring and promoting regular code reviews among our developers, we aim to deliver well-crafted, high quality software. Software that not only works now, but will be extensible and easily maintainable in the future.
            .code-quality-img
              %img{src: "images/code-quality.png", alt: "Code Quality"}
          %section.business-driven-development
            .business-driven-development-txt
              %h2 Business Driven Development
              %p What exactly does lead to a good software design? We believe in software driven by business value, the so-called outside-in development. It focuses on the why — why does this particular feature serve a customers' interest? To what extent will this other feature make the user experience better?
              %p We try to focus on the core value of your project, delivering the most valuable features first. And we start describing these features, because we don't want to end up implementing something that nobody is going to use. In a way, code only exists to make tests pass — we code just as much as needed by the particular feature we're working on.
              %p This leads both to a cleaner design and to less code. And less code is less error-prone software. Actually, we wish we could help you without writing a line of code.
            .business-driven-development-img
              %img{src: "images/business-driven-development.png", alt: "Business Driven Development"}
          %section.agile-development
            .agile-development-txt
              %h2 Agile Development
              %p We manage our projects together with the client. We don't believe in specification documents (in a broader sense, we don't even believe in paper). We don't believe in written requirements either — mainly because they don't exist.
              %p Your project needs keep evolving along with user feedback and ever-changing industry demands. We adapt to those needs reducing the overall cost, focusing on the features that matter. That means we work together not just for you, but with you as well.
              %p In order to make all this possible, we embrace iterative development, frequently delivering small releases. These are driven by user stories, which serve as documentation for the project.
            .agile-development-img
              %img{src: "images/agile-development.png", alt: "Agile Development"}
          %section.user-stories
            %h2 User Stories
            %p User stories are the main tool of translating your ideas into implementable features. You express your ideas in your own language — your business domain. We map these into more specific software-related concepts, in tight cooperation with you. This way we always work on valuable features, features that are expressed in your business domain.
            %p This preliminary stage helps you define what you really expect from your project, and it also serves as a guideline for actual code and tests. Plus, these user stories become the project documentation, and since they are tightly related to the code, they are always up to date!
          %section.pair-programming
            %h2 Pair Programming
            %p We also borrowed some goodness from the Extreme Programming movement — developing in pairs.
            %p This technique is one of the main keys to well-crafted software. Two developers working together produce more reliable, higher quality code, in less time. Through continuous discussion and collaborative coding, better designs and implementations come up.documentation, and since they are tightly related to the code, they are always up to date!
          %section.open-source          
            .open-source-txt
              %h2 Giving back to the Open Source community
              %p We work in the edge of the Ruby software craftsmanship community, continuously revisiting our tools and practices according to both the evolving technology and market.
              %p Since all the tools we use from the Ruby universe are open source, we give back to the community by periodically contributing to most of the tools we use on a daily basis, such as Ruby, Rails and RSpec. We also develop open source tools which enhance the existing Ruby ecosystem.
              %p You can check out our open source tools on the work section or directly on our github profile (and fork some of them if you want!).
            .open-source-img
              %img{src: "images/open-source.png", alt: "Open Source"}
          %section.our-team
            %h2 Our Team
            %ul.employees
              %li.vcard
                %img.photo{src: "images/team.png", alt: "Team"}
                %p.fn Surname Name
                %p.title Developer
              %li.vcard
                %img.photo{src: "images/team.png", alt: "Team"}
                %p.fn Name
                %p.title Developer
              %li.vcard
                %img.photo{src: "images/team.png", alt: "Team"}
                %p.fn Name
                %p.title Developer
              %li.vcard
                %img.photo{src: "images/team.png", alt: "Team"}
                %p.fn Name
                %p.title Developer
              %li.vcard
                %img.photo{src: "images/team.png", alt: "Team"}
                %p.fn Name
                %p.title Developer
              %li.vcard
                %img.photo{src: "images/team.png", alt: "Team"}
                %p.fn Name
                %p.title Developer
              %li.vcard
                %img.photo{src: "images/team.png", alt: "Team"}
                %p.fn Name
                %p.title Developer
              %li.vcard
                %img.photo{src: "images/team.png", alt: "Team"}
                %p.fn Name
                %p.title Developer
          %section.clients
            %h2 Clients
            %img{src: "images/1.png", alt: "Clients"}
            %img{src: "images/2.png", alt: "Clients"}
            %img{src: "images/3.png", alt: "Clients"}
            %img{src: "images/5.png", alt: "Clients"}
            %img{src: "images/3.png", alt: "Clients"}
            %img{src: "images/4.png", alt: "Clients"}
            %img{src: "images/5.png", alt: "Clients"}
            %img{src: "images/3.png", alt: "Clients"}
      .footer-push
    %footer
      .footer-container
        %nav.sitemap
          %h4 Sitemap
          %ul
            %li
              %a{:href => "#"} home
            %li
              %a{:href => "#"} work
            %li
              %a{:href => "#"} team
            %li
              %a{:href => "#"} contact
        %nav.resources
          %h4 Resources
          %ul
            %li
              %a{:href => "#"} facebook
            %li
              %a{:href => "#"} twitter
            %li
              %a{:href => "#"} RSS feed
            %li
              %a{:href => "#"} tumblr
        .tweet
          %h4 What we're into right now
          %p 
            The @namename site we've been working on for @namename1 has won redesign of the year at the UK eCommerce awards. Back slaps all round!
            %span
          %span @webmillab
        .address{itemscope: true,  itemtype: "http://schema.org/Organization"}
          %h4 Get in touch with us
          %meta{itemprop: "name", content: "Webmil"}
          %address{itemscope: true, itemprop: "address" ,itemtype: "http://schema.org/PostalAddress"}
            .tel{itemprop: "telephone"} +38 (0342) 735 448
            .mail{itemprop: "email"} info@webmil.com.ua
            .locality{itemprop: "addressLocality"} Україна, Івано-Франківськ,
            .street{itemprop: "streetAddress"} вул. Української Дивізії, 5а
          %a{href: "#"} Map & directions
        .social
          %a{:href => "#"}
            %img{:src  => "images/face.png"}