@include sticky-footer(255px, ".container", ".footer-push", "footer");

$icons: sprite-map("sprites/*.png");
$base-color: #2daebf;

body{
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size:14px;
    letter-spacing:normal;
    line-height: 20px;
    color: #404040;
}
// body heading
h2{
    color: $base-color;
    font-size: 30px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
}
// portfolio heading
h3{
    font-size: 30px;
}
// footer heading
h4{
    color: #979797;
}
// portfolio titel
h5{
    font-size: 18px;
    color: #404040;
}
//slider titel
h6{
    font-size: 24px;
    color: #fff;
    padding: 10px;
    text-align: right;
    width: 400px;
    background: rgba($base-color, 0.8);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC2DAEBF,endColorstr=#CC2DAEBF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC2DAEBF,endColorstr=#CC2DAEBF);   /* IE6 & 7 */
    zoom: 1;
}
// link
a{
    color: $base-color;
    text-decoration: underline;
}
section{
    margin-top: 50px;
}
nav select {
      display: none;
}
.container{
    background: url('../images/background.png');
    position: relative;
    min-width: $base-width;
    width: auto !important;
    overflow: hidden;
    padding-top: 115px;
}
.content {
    @include container;
    margin-bottom: 50px;
}
.header{
    background: url('../images/menu_back.png') repeat-x bottom;
    height: 115px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    header{
        background: url('../images/background.png');
        height: 103px;
    	width: 100%;
        #menu{
            @include container;
            ul.menu{
                @include column(8, true);
                @include prepend(14);
                margin-top: 80px;
                li{
                    @include inline-block;
                    margin: 0 15px;
                    a{
                        color: #4c4d4f;
                        text-decoration: none;
                        font-size: 17px;
                        &:hover{
                            color: $base-color;
                        }
                    }
                }
            }
            .logo{
                @include column(2, true);
                margin-top: 22px;
                a img{
                    width: 75px;
                    height: 73px;
                }
            }
        }
    }
}
footer{
    background:#4f4f4f;
    min-width: $base-width;
    width: auto !important;
    .footer-container{
        @include container;
        color:#fff;
        line-height:24px;
        padding-top:40px;
        ul{
            margin-top:35px;
            li{
                a{
                    color: #fff;
                    text-decoration: none;
                    &:hover{
                        color: $base-color;
                    }
                }
            }
        }
        .sitemap{
            @include column(2);
            @include prepend(2);
        }
        .resources{
            @include column(2);
        }
        .tweet{
            @include column(8);
            @include prepend(1);
            p{
                background: #2daebf;
                margin-top: 27px;
                padding: 8px;
                position:relative;
                span{
                    display:block;
                    position:absolute;
                    bottom:0;
                    right:0;
                    @include sprite-dimensions($icons, bracket);
                    background: sprite($icons, bracket) no-repeat;
                }
            }
            span{
                float:right;
            }
        }
        .address{
            @include column(5);
            @include prepend(1);
            h4{
                text-decoration: underline;
            }
            address{
                margin-top:35px;
            }
        }
        .social{
            @include column(3, true);
            a{
                float: right;
            }
        }
    }
}
// Slider
/* Default MovingBoxes wrapper size */
#movingboxes {
    width: 1600px;
    min-height: 360px;
}

/* Overall MovingBoxes Slider */
.mb-wrapper {
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 0;
    opacity : 0;
}
/* Panel Wrapper */
.mb-slider, .mb-scroll {
    width: 100%;
    height: 360px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    position: relative;
    left: 0;
    top: 0;
}
/* Slider panel */
.mb-slider .mb-panel {
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    float: left;
    list-style: none;
    position: relative;
    width: 1600px;
}
/* Cursor */
.mb-slider .mb-panel.current {
    cursor: auto;
    width: 100%;
}
/* Inside the panel */
.mb-inside {
    padding: 0;
}
.mb-inside img{
    width: 1600px;
    height: 360px;
}
/* Left & Right Navigation Arrows */
a.mb-scrollButtons {
    display: block;
    width: 62px;
    height: 62px;
    background: transparent url(../images/arrows.png) no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -29px;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    border: 0;
    z-index: 90;
}
a.mb-scrollButtons.mb-left {
    background-position: left top;
    left: 3%;
}
a.mb-scrollButtons.mb-right {
    background-position: right bottom;
    right: 3%;
}
a.mb-scrollButtons.mb-left:hover {
    background-position: left top;
}
a.mb-scrollButtons.mb-right:hover {
    background-position: right bottom;
}
a.mb-scrollButtons.disabled {
    display: none;
}
/* Controls added below the panels */
.mb-controls {
    display: none;
}
.slider-txt{
    position: absolute;
    top: 60%;
    left: 20%;
    display: block;
    width: 500px;
    z-index: 90;
    p{
	text-align: right;
	background: rgba(#000, 0.4);
	color: #fff;
	padding: 20px 10px;
	height: 61px;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000)"; /* IE8 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);   /* IE6 & 7 */
	zoom: 1;
    }
}

// articles development, web design, complex websites
.development, .web-design, .complex-websites{
    @include column(8);
    h2 span{
        background: sprite($icons, ico-1) $base-color no-repeat;
        @include inline-block;
        @include sprite-dimensions($icons, ico-1);
	vertical-align: inherit;
    }
	p{
	    margin-top: 20px;
	}
}
.web-design{
    h2 span{
        background: sprite($icons, ico-2) $base-color no-repeat;
        @include sprite-dimensions($icons, ico-2);
        }
}
.complex-websites{
    @include column(8, true);
    h2 span{
        background: sprite($icons, ico-3) $base-color no-repeat;
        @include sprite-dimensions($icons, ico-3);
    }
}

//team list, clients
.our-team, .clients{
    @include column(24);
    .employees li{
        @include inline-block;
        margin: 15px 29px 0 0;
        img{
            width: 85px;
            height: 100px;
        }
        p.fn{
            color: #4f4f4f;
	    margin-top: 0;
        }
        p.title{
            color: #979797;
            font-size: 12px;
	    margin-top: 0;
        }
    }
}
.clients{
    img{
        height: 57px;
        margin:15px 30px 0 0;
    }
}
    // works list
.work{
    @include column(24);
}
.work-item, .work-item-last{
    @include column(8);
    margin-top: 30px;
    a{
	img{
	    width: 310px;
	    height: 200px;
	}
    }
    figcaption{
	    border-bottom: 1px solid $base-color;
	    padding-bottom: 10px;
	    a{
	        text-decoration: none;
	        &:hover .next{
		    background: url('../images/next_h.png') $base-color;
	        }
	    }
	    .next{
	        @include inline-block;
	        width: 16px;
	        height: 16px;
	        float: right;
	        margin-top: 1px;
	        background: url('../images/next.png');
	    }
    }
    p.desc{
	    color: #979797;
	    margin-top: 10px;
    }
}
.work-item-last{
    @include column(8, true);
}