.left-address{
    @include column(5);
    .address{
        h2{
            margin-top: 50px;
        }
        .locality, .tel, .skype{
            margin-top: 20px;
            .skype{
                p{
                    span{
                        color: $base-color;
                    }
                }
            }
            .mail{
                p{
                  span{
                    color: $base-color;
                    text-decoration: underline;
                  }
                }
            }
        }
    }
}
.right-address{
    @include column(18, true);
    @include prepend(1);
    h2{
        margin-top: 50px;
    }
    #map{
        display: block;
        margin-top: 20px;
        height: 320px;
        border: 10px solid #fff;
        width: 690px;
    }
}
.form-txt{
    @include column(6);
    margin-top: 40px;
    p{
        color: #979797;
        margin-top: 20px;
    }
}
form{
    @include column(18, true);
    margin-top: 40px;
    .form{
        margin-top: 15px;
        label{
            display: block;
            margin: 10px 0 3px 0;
        }
        input.error{
            border: 1px solid #eb7272;
            &:hover{
                border: 1px solid #eb7272;
            }
        }
        input, textarea{
            width: 470px;
            height: 30px;
            color: #4c4d4f;
            text-indent: 15px;
            @include border-radius(5px);
            border: 1px solid #e1e1e1;
            &:hover{
                border: 1px solid $base-color;
            }
        }
        textarea{
            height: 195px;
            text-indent: 15px;
            padding-top: 10px;
        }
        span{
            margin-left: 15px;
        }
        .send{
            @include prepend(10);
        }
        input.send-button{
            @include column(2, true);
            text-indent: -3px;
            height: 22px;
            width: 45px;
            font-size: 18px;
            margin-left: 30px;
            color: $base-color;
            border: none;
            border-bottom: 1px solid $base-color;
            border-radius: 0;
            padding: 0;
            background: none;
            &:hover{
                cursor: pointer;
            }
        }
    }
}