.team{
    p{
        margin-top: 20px;
    }
    .code-quality, .business-driven-development, .agile-development, .open-source{
        @include column(24);
    }
    .code-quality-txt, .business-driven-development-txt, .agile-development-txt, .open-source-txt{
        @include column(15);
    }
    .code-quality-img, .business-driven-development-img, .agile-development-img, .open-source-img{
        @include column(9, true);
        margin-top: 45px;
        img{
            width: 350px;
            height: 160px;
        }
    }
    .business-driven-development-img{
        img{
            width: 350px;
            height: 235px;
        }
    }
    .agile-development-img{
        img{
            width: 350px;
            height: 210px;
        }
    }
    .user-stories{
        @include column(12);
    }
    .pair-programming{
        @include column(12, true);
    }
}