.work-open-h{
    h3{
        margin: 30px 0 5px 0;
        a{
            float: right;
            margin-top: 5px;
            font-size: 14px;
        }
    }
    p.desc{
        @include column (20);
        @include prepend(1);
        margin-top: 20px;
    }
    .ipad{
        @include column (22);
        @include prepend(1);
        margin-top: 45px;
        position: relative;
        i.frame{
            background: url("../images/ipad.png") no-repeat;
            display: block;
            height: 672px;
            width: 856px;
            position: relative;
            @include border-radius(50px);
            @include box-shadow(0px 10px 10px #b0b0b0);
            z-index: 90;
        }
        img{
            position: absolute;
            top: 75px;
            left: 120px;
            z-index: 1;
            height: 525px;
            width: 700px;
        }
    }
    .booklet{
        @include column (24);
        margin-top: 20px;
        img{
            width: 950px;
            height: 700px;
        }
    }
    .city-light{
        @include column (12);
        @include prepend(6);
        margin-top: 20px;
        position: relative;
        i.frame{
            background: url("../images/frame.png") no-repeat;
            display: block;
            height: 701px;
            width: 531px;
        }
        img{
            position: absolute;
            top: 29px;
            left: 325px;
            height: 575px;
            width: 365px;
        }
    }
}