/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -255px;
}
/* line 18, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.container .footer-push {
  height: 255px;
}

/* line 20, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer {
  clear: both;
  position: relative;
  height: 255px;
}

/* line 18, ../sass/screen.scss */
body {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: normal;
}

/* line 23, ../sass/screen.scss */
.container {
  background-image: url("../images/background.png");
  position: relative;
}

/* line 27, ../sass/screen.scss */
.header {
  background: url("../images/menu_back.png") repeat-x;
  background-position: bottom;
  height: 115px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
/* line 36, ../sass/screen.scss */
.header header {
  background: url("../images/background.png");
  height: 103px;
  width: 100%;
}
/* line 40, ../sass/screen.scss */
.header header #menu {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 42, ../sass/screen.scss */
.header header #menu ul.menu {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  padding-left: 560px;
  margin-top: 80px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .header header #menu ul.menu {
  overflow-x: hidden;
}
/* line 46, ../sass/screen.scss */
.header header #menu ul.menu li {
  display: inline-block;
  margin: 0 15px;
}
/* line 49, ../sass/screen.scss */
.header header #menu ul.menu li a {
  color: #4c4d4f;
  text-decoration: none;
  font-size: 17px;
}
/* line 53, ../sass/screen.scss */
.header header #menu ul.menu li a:hover {
  color: #2daebf;
}
/* line 59, ../sass/screen.scss */
.header header #menu .logo {
  display: inline;
  float: left;
  margin-right: 0;
  width: 70px;
  margin-top: 22px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .header header #menu .logo {
  overflow-x: hidden;
}
/* line 63, ../sass/screen.scss */
.header header #menu .logo a img {
  width: 75px;
  height: 73px;
}

/* line 72, ../sass/screen.scss */
.content {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  color: #404040;
  margin-bottom: 20px;
  padding-top: 115px;
  font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
}
/* line 78, ../sass/screen.scss */
.content .left-address {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .left-address {
  overflow-x: hidden;
}
/* line 81, ../sass/screen.scss */
.content .left-address .address h2 {
  font-size: 30px;
  color: #2daebf;
  margin-top: 35px;
}
/* line 86, ../sass/screen.scss */
.content .left-address .address address {
  margin-top: 20px;
  font-size: 14px;
}
/* line 91, ../sass/screen.scss */
.content .left-address .address address .skype p span {
  color: #2daebf;
}
/* line 98, ../sass/screen.scss */
.content .left-address .address address .mail p span {
  color: #2daebf;
  text-decoration: underline;
}
/* line 107, ../sass/screen.scss */
.content .right-address {
  display: inline;
  float: left;
  margin-right: 0;
  width: 710px;
  padding-left: 40px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .right-address {
  overflow-x: hidden;
}
/* line 110, ../sass/screen.scss */
.content .right-address h2 {
  font-size: 30px;
  color: #2daebf;
  margin-top: 35px;
}
/* line 115, ../sass/screen.scss */
.content .right-address #map {
  display: block;
  margin-top: 20px;
  height: 300px;
  border: 10px solid #fff;
  width: 690px;
}
/* line 123, ../sass/screen.scss */
.content .form-txt {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-top: 40px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .form-txt {
  overflow-x: hidden;
}
/* line 126, ../sass/screen.scss */
.content .form-txt h2 {
  font-size: 30px;
  color: #2daebf;
}
/* line 130, ../sass/screen.scss */
.content .form-txt p {
  color: #acacac;
  margin-top: 20px;
  width: 185px;
}
/* line 136, ../sass/screen.scss */
.content form {
  display: inline;
  float: left;
  margin-right: 0;
  width: 710px;
  margin-top: 40px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content form {
  overflow-x: hidden;
}
/* line 139, ../sass/screen.scss */
.content form .form {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  margin-top: 15px;
}
/* line 142, ../sass/screen.scss */
.content form .form p {
  margin-top: 10px;
  margin-bottom: 3px;
}
/* line 146, ../sass/screen.scss */
.content form .form input.error {
  border: 1px solid #eb7272;
}
/* line 148, ../sass/screen.scss */
.content form .form input.error:hover {
  border: 1px solid #eb7272;
}
/* line 152, ../sass/screen.scss */
.content form .form input {
  width: 470px;
  height: 30px;
  color: #4c4d4f;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-indent: 15px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  font-size: 14px;
}
/* line 161, ../sass/screen.scss */
.content form .form input:hover {
  border: 1px solid #2daebf;
}
/* line 165, ../sass/screen.scss */
.content form .form textarea {
  width: 470px;
  height: 195px;
  color: #4c4d4f;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-indent: 15px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  padding-top: 10px;
  font-size: 14px;
}
/* line 175, ../sass/screen.scss */
.content form .form textarea:hover {
  border: 1px solid #2daebf;
}
/* line 179, ../sass/screen.scss */
.content form .form span {
  margin-left: 15px;
  color: #4c4d4f;
}
/* line 183, ../sass/screen.scss */
.content form .form input.send-button {
  background: none;
  border: none;
  text-decoration: underline;
  color: #2daebf;
  font-size: 18px;
  width: 45px;
  text-align: center;
  margin-left: 430px;
  padding: 0;
  display: block;
  text-indent: 0;
}
/* line 195, ../sass/screen.scss */
.content form .form input.send-button:hover {
  cursor: pointer;
  border: none;
}
/* line 202, ../sass/screen.scss */
.content .work {
  margin-top: 20px;
}
/* line 204, ../sass/screen.scss */
.content .work .work-item, .content .work .work-item-last {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  margin-top: 30px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .work .work-item, * html .content .work .work-item-last {
  overflow-x: hidden;
}
/* line 208, ../sass/screen.scss */
.content .work .work-item a img, .content .work .work-item-last a img {
  width: 310px;
  height: 200px;
}
/* line 213, ../sass/screen.scss */
.content .work .work-item .name, .content .work .work-item-last .name {
  font-size: 18px;
  text-decoration: none;
  color: #363636;
  display: inline-block;
  margin-top: 5px;
}
/* line 220, ../sass/screen.scss */
.content .work .work-item .next, .content .work .work-item-last .next {
  display: inline-block;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: 7px;
  background: url("../images/next.png");
}
/* line 227, ../sass/screen.scss */
.content .work .work-item .next:hover, .content .work .work-item-last .next:hover {
  background: url("../images/next_h.png");
}
/* line 231, ../sass/screen.scss */
.content .work .work-item p.desc, .content .work .work-item-last p.desc {
  color: #979797;
  border-top: 1px solid #2daebf;
  padding-top: 15px;
  margin-top: 10px;
  font-size: 13px;
}
/* line 239, ../sass/screen.scss */
.content .work .work-item-last {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .work .work-item-last {
  overflow-x: hidden;
}
/* line 244, ../sass/screen.scss */
.content .work-open-h h1 {
  font-size: 30px;
  color: #4f4f4f;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  margin-top: 30px;
  margin-bottom: 5px;
}
/* line 250, ../sass/screen.scss */
.content .work-open-h h1 a {
  font-size: 14px;
  color: #2daebf;
  float: right;
  margin-top: 14px;
  text-decoration: underline;
}
/* line 259, ../sass/screen.scss */
.content .work-open-h p a {
  color: #2daebf;
  font-size: 14px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-decoration: underline;
}
/* line 266, ../sass/screen.scss */
.content .work-open-h p.desc {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 790px;
  padding-left: 40px;
  color: #4f4f4f;
  font-size: 12px;
  line-height: 24px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  margin-top: 20px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .work-open-h p.desc {
  overflow-x: hidden;
}
/* line 275, ../sass/screen.scss */
.content .work-open-h .ipad {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 870px;
  padding-left: 40px;
  background: url("../images/image.png") no-repeat center center;
  margin-top: 45px;
  height: 700px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .work-open-h .ipad {
  overflow-x: hidden;
}
/* line 281, ../sass/screen.scss */
.content .work-open-h .ipad i.frame {
  background: url("../images/ipad.png") no-repeat;
  display: block;
  height: 672px;
  width: 862px;
  border-radius: 50px;
  box-shadow: 0px 10px 10px #b0b0b0;
}
/* line 290, ../sass/screen.scss */
.content .work-open-h .booklet {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin-top: 20px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .work-open-h .booklet {
  overflow-x: hidden;
}
/* line 293, ../sass/screen.scss */
.content .work-open-h .booklet img {
  width: 950px;
  height: 700px;
}
/* line 298, ../sass/screen.scss */
.content .work-open-h .city-light {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  padding-left: 240px;
  margin-top: 20px;
  background: url("../images/image1.png") no-repeat;
  background-position: 325px 30px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .work-open-h .city-light {
  overflow-x: hidden;
}
/* line 304, ../sass/screen.scss */
.content .work-open-h .city-light i.frame {
  background: url("../images/frame.png") no-repeat;
  display: block;
  height: 701px;
  width: 531px;
}
/* line 314, ../sass/screen.scss */
.content .work-open-v .ipad {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 670px;
  background: url("../images/image2.png") no-repeat;
  background-position: 78px 86px;
  margin-top: 45px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .work-open-v .ipad {
  overflow-x: hidden;
}
/* line 319, ../sass/screen.scss */
.content .work-open-v .ipad i.frame {
  background: url("../images/ipad1.png") no-repeat;
  display: block;
  height: 860px;
  width: 673px;
}
/* line 326, ../sass/screen.scss */
.content .work-open-v .desc {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
  padding-left: 40px;
  margin-top: 44px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .work-open-v .desc {
  overflow-x: hidden;
}
/* line 330, ../sass/screen.scss */
.content .work-open-v .desc p {
  text-align: right;
}
/* line 332, ../sass/screen.scss */
.content .work-open-v .desc p a {
  color: #2daebf;
  font-size: 14px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
/* line 338, ../sass/screen.scss */
.content .work-open-v .desc h1 {
  font-size: 30px;
  color: #4f4f4f;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  margin-top: 70px;
  margin-bottom: 5px;
}
/* line 345, ../sass/screen.scss */
.content .work-open-v .desc p.name {
  text-align: left;
}
/* line 347, ../sass/screen.scss */
.content .work-open-v .desc p.name a {
  color: #2daebf;
  font-size: 14px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-decoration: underline;
}
/* line 354, ../sass/screen.scss */
.content .work-open-v .desc p.description {
  text-align: left;
  color: #4f4f4f;
  font-size: 12px;
  line-height: 24px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  margin-top: 40px;
}
/* line 365, ../sass/screen.scss */
.content .team {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
/* line 367, ../sass/screen.scss */
.content .team .development, .content .team .web-design, .content .team .complex-websites {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  margin-top: 50px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .team .development, * html .content .team .web-design, * html .content .team .complex-websites {
  overflow-x: hidden;
}
/* line 370, ../sass/screen.scss */
.content .team .development h2, .content .team .web-design h2, .content .team .complex-websites h2 {
  color: #2daebf;
  font-size: 24px;
}
/* line 374, ../sass/screen.scss */
.content .team .development p, .content .team .web-design p, .content .team .complex-websites p {
  margin-top: 20px;
  line-height: 20px;
  font-size: 14px;
}
/* line 380, ../sass/screen.scss */
.content .team .complex-websites {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .team .complex-websites {
  overflow-x: hidden;
}
/* line 383, ../sass/screen.scss */
.content .team .code-quality {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 590px;
  margin-top: 50px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .team .code-quality {
  overflow-x: hidden;
}
/* line 386, ../sass/screen.scss */
.content .team .code-quality h2 {
  color: #2daebf;
  font-size: 24px;
}
/* line 390, ../sass/screen.scss */
.content .team .code-quality p {
  margin-top: 20px;
  line-height: 20px;
  font-size: 14px;
}

/* line 398, ../sass/screen.scss */
footer {
  background: #4f4f4f;
}
/* line 400, ../sass/screen.scss */
footer .footer-container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  color: #fff;
  line-height: 24px;
  padding-top: 40px;
}
/* line 405, ../sass/screen.scss */
footer .footer-container h4 {
  color: #979797;
}
/* line 408, ../sass/screen.scss */
footer .footer-container ul {
  margin-top: 35px;
}
/* line 411, ../sass/screen.scss */
footer .footer-container ul li a {
  color: #fff;
  text-decoration: none;
}
/* line 414, ../sass/screen.scss */
footer .footer-container ul li a:hover {
  color: #2daebf;
}
/* line 420, ../sass/screen.scss */
footer .footer-container .sitemap {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
  padding-left: 80px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer .footer-container .sitemap {
  overflow-x: hidden;
}
/* line 424, ../sass/screen.scss */
footer .footer-container .resources {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer .footer-container .resources {
  overflow-x: hidden;
}
/* line 427, ../sass/screen.scss */
footer .footer-container .tweet {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  padding-left: 40px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer .footer-container .tweet {
  overflow-x: hidden;
}
/* line 430, ../sass/screen.scss */
footer .footer-container .tweet p {
  background-color: #2daebf;
  margin-top: 27px;
  padding: 8px;
  position: relative;
}
/* line 435, ../sass/screen.scss */
footer .footer-container .tweet p span {
  display: block;
  width: 23px;
  height: 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url('../images/sprites-s1a50462d33.png') 0 0 no-repeat;
}
/* line 445, ../sass/screen.scss */
footer .footer-container .tweet span {
  float: right;
}
/* line 449, ../sass/screen.scss */
footer .footer-container .address {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
  padding-left: 40px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer .footer-container .address {
  overflow-x: hidden;
}
/* line 452, ../sass/screen.scss */
footer .footer-container .address h4 {
  text-decoration: underline;
}
/* line 455, ../sass/screen.scss */
footer .footer-container .address address {
  margin-top: 35px;
}
/* line 458, ../sass/screen.scss */
footer .footer-container .address a {
  color: #2daebf;
}
/* line 462, ../sass/screen.scss */
footer .footer-container .social {
  display: inline;
  float: left;
  margin-right: 0;
  width: 110px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer .footer-container .social {
  overflow-x: hidden;
}
/* line 464, ../sass/screen.scss */
footer .footer-container .social a {
  float: right;
}
