/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -255px;
}
/* line 18, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.container .footer-push {
  height: 255px;
}

/* line 20, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer {
  clear: both;
  position: relative;
  height: 255px;
}

/* line 18, ../sass/screen.scss */
body {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: normal;
}

/* line 23, ../sass/screen.scss */
.container {
  background-image: url("../images/background.png");
}

/* line 26, ../sass/screen.scss */
.content {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  color: #404040;
}

/* line 30, ../sass/screen.scss */
header {
  background: url("../images/menu_back.png") repeat-x;
  background-position: bottom;
  height: 115px;
  position: fixed;
  width: 100%;
}
/* line 36, ../sass/screen.scss */
header #menu {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 38, ../sass/screen.scss */
header #menu ul.menu {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  padding-left: 560px;
  margin-top: 80px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html header #menu ul.menu {
  overflow-x: hidden;
}
/* line 42, ../sass/screen.scss */
header #menu ul.menu li {
  display: inline-block;
  margin: 0 15px;
}
/* line 45, ../sass/screen.scss */
header #menu ul.menu li a {
  color: #4c4d4f;
  text-decoration: none;
  font-size: 17px;
}
/* line 49, ../sass/screen.scss */
header #menu ul.menu li a:hover {
  color: #2daebf;
}

/* line 57, ../sass/screen.scss */
footer {
  background: #4f4f4f;
}
/* line 59, ../sass/screen.scss */
footer .footer-container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  color: #fff;
  line-height: 24px;
  padding-top: 40px;
}
/* line 64, ../sass/screen.scss */
footer .footer-container h4 {
  color: #979797;
}
/* line 67, ../sass/screen.scss */
footer .footer-container ul {
  margin-top: 35px;
}
/* line 70, ../sass/screen.scss */
footer .footer-container ul li a {
  color: #fff;
  text-decoration: none;
}
/* line 73, ../sass/screen.scss */
footer .footer-container ul li a:hover {
  color: #2daebf;
}
/* line 79, ../sass/screen.scss */
footer .footer-container .sitemap {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
  padding-left: 80px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer .footer-container .sitemap {
  overflow-x: hidden;
}
/* line 83, ../sass/screen.scss */
footer .footer-container .resources {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer .footer-container .resources {
  overflow-x: hidden;
}
/* line 86, ../sass/screen.scss */
footer .footer-container .tweet {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  padding-left: 40px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer .footer-container .tweet {
  overflow-x: hidden;
}
/* line 89, ../sass/screen.scss */
footer .footer-container .tweet p {
  background-color: #2daebf;
  margin-top: 27px;
  padding: 8px;
  position: relative;
}
/* line 94, ../sass/screen.scss */
footer .footer-container .tweet p span {
  display: block;
  width: 23px;
  height: 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url('../images/sprites-s1a50462d33.png') 0 0 no-repeat;
}
/* line 104, ../sass/screen.scss */
footer .footer-container .tweet span {
  float: right;
}
/* line 108, ../sass/screen.scss */
footer .footer-container .address {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
  padding-left: 40px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer .footer-container .address {
  overflow-x: hidden;
}
/* line 111, ../sass/screen.scss */
footer .footer-container .address h4 {
  text-decoration: underline;
}
/* line 114, ../sass/screen.scss */
footer .footer-container .address address {
  margin-top: 35px;
}
/* line 117, ../sass/screen.scss */
footer .footer-container .address a {
  color: #2daebf;
}
/* line 121, ../sass/screen.scss */
footer .footer-container .social {
  display: inline;
  float: left;
  margin-right: 0;
  width: 110px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer .footer-container .social {
  overflow-x: hidden;
}
/* line 123, ../sass/screen.scss */
footer .footer-container .social a {
  float: right;
}
