/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -255px;
}
/* line 18, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.container .footer-push {
  height: 255px;
}

/* line 20, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer {
  clear: both;
  position: relative;
  height: 255px;
}

/* line 18, ../sass/screen.scss */
body {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: normal;
}

/* line 23, ../sass/screen.scss */
.container {
  background-image: url("../images/background.png");
  position: relative;
}

/* line 27, ../sass/screen.scss */
.header {
  background: url("../images/menu_back.png") repeat-x;
  background-position: bottom;
  height: 115px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
/* line 36, ../sass/screen.scss */
.header header {
  background: url("../images/background.png");
  height: 103px;
  width: 100%;
}
/* line 40, ../sass/screen.scss */
.header header #menu {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 42, ../sass/screen.scss */
.header header #menu ul.menu {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  padding-left: 560px;
  margin-top: 80px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .header header #menu ul.menu {
  overflow-x: hidden;
}
/* line 46, ../sass/screen.scss */
.header header #menu ul.menu li {
  display: inline-block;
  margin: 0 15px;
}
/* line 49, ../sass/screen.scss */
.header header #menu ul.menu li a {
  color: #4c4d4f;
  text-decoration: none;
  font-size: 17px;
}
/* line 53, ../sass/screen.scss */
.header header #menu ul.menu li a:hover {
  color: #2daebf;
}
/* line 59, ../sass/screen.scss */
.header header #menu .logo {
  display: inline;
  float: left;
  margin-right: 0;
  width: 70px;
  margin-top: 22px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .header header #menu .logo {
  overflow-x: hidden;
}
/* line 63, ../sass/screen.scss */
.header header #menu .logo a img {
  width: 75px;
  height: 73px;
}

/* line 72, ../sass/screen.scss */
.content {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  color: #404040;
  margin-bottom: 20px;
  padding-top: 115px;
  font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
}
/* line 78, ../sass/screen.scss */
.content .left-address {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .left-address {
  overflow-x: hidden;
}
/* line 81, ../sass/screen.scss */
.content .left-address .address h2 {
  font-size: 30px;
  color: #2daebf;
  margin-top: 35px;
}
/* line 86, ../sass/screen.scss */
.content .left-address .address address {
  margin-top: 20px;
  font-size: 14px;
}
/* line 91, ../sass/screen.scss */
.content .left-address .address address .skype p span {
  color: #2daebf;
}
/* line 98, ../sass/screen.scss */
.content .left-address .address address .mail p span {
  color: #2daebf;
  text-decoration: underline;
}
/* line 107, ../sass/screen.scss */
.content .right-address {
  display: inline;
  float: left;
  margin-right: 0;
  width: 710px;
  padding-left: 40px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .right-address {
  overflow-x: hidden;
}
/* line 110, ../sass/screen.scss */
.content .right-address h2 {
  font-size: 30px;
  color: #2daebf;
  margin-top: 35px;
}
/* line 115, ../sass/screen.scss */
.content .right-address #map {
  display: block;
  margin-top: 20px;
  height: 300px;
  border: 10px solid #fff;
  width: 690px;
}
/* line 123, ../sass/screen.scss */
.content .form-txt {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-top: 40px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .form-txt {
  overflow-x: hidden;
}
/* line 126, ../sass/screen.scss */
.content .form-txt h2 {
  font-size: 30px;
  color: #2daebf;
}
/* line 130, ../sass/screen.scss */
.content .form-txt p {
  color: #acacac;
  margin-top: 20px;
  width: 185px;
}
/* line 136, ../sass/screen.scss */
.content form {
  display: inline;
  float: left;
  margin-right: 0;
  width: 710px;
  margin-top: 40px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content form {
  overflow-x: hidden;
}
/* line 139, ../sass/screen.scss */
.content form .form {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  margin-top: 15px;
}
/* line 142, ../sass/screen.scss */
.content form .form p {
  margin-top: 10px;
  margin-bottom: 3px;
}
/* line 146, ../sass/screen.scss */
.content form .form input.error {
  border: 1px solid #eb7272;
}
/* line 148, ../sass/screen.scss */
.content form .form input.error:hover {
  border: 1px solid #eb7272;
}
/* line 152, ../sass/screen.scss */
.content form .form input {
  width: 470px;
  height: 30px;
  color: #4c4d4f;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-indent: 15px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  font-size: 14px;
}
/* line 161, ../sass/screen.scss */
.content form .form input:hover {
  border: 1px solid #2daebf;
}
/* line 165, ../sass/screen.scss */
.content form .form textarea {
  width: 470px;
  height: 195px;
  color: #4c4d4f;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-indent: 15px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  padding-top: 10px;
  font-size: 14px;
}
/* line 175, ../sass/screen.scss */
.content form .form textarea:hover {
  border: 1px solid #2daebf;
}
/* line 179, ../sass/screen.scss */
.content form .form span {
  margin-left: 15px;
  color: #4c4d4f;
}
/* line 183, ../sass/screen.scss */
.content form .form input.send-button {
  background: none;
  border: none;
  text-decoration: underline;
  color: #2daebf;
  font-size: 18px;
  width: 45px;
  text-align: center;
  margin-left: 430px;
  padding: 0;
  display: block;
  text-indent: 0;
}
/* line 195, ../sass/screen.scss */
.content form .form input.send-button:hover {
  cursor: pointer;
  border: none;
}
/* line 202, ../sass/screen.scss */
.content .work {
  margin-top: 20px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
/* line 205, ../sass/screen.scss */
.content .work .work-item, .content .work .work-item-last {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  margin-top: 30px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .work .work-item, * html .content .work .work-item-last {
  overflow-x: hidden;
}
/* line 209, ../sass/screen.scss */
.content .work .work-item a img, .content .work .work-item-last a img {
  width: 310px;
  height: 200px;
}
/* line 214, ../sass/screen.scss */
.content .work .work-item .name, .content .work .work-item-last .name {
  font-size: 18px;
  text-decoration: none;
  color: #363636;
  display: inline-block;
  margin-top: 5px;
}
/* line 221, ../sass/screen.scss */
.content .work .work-item .next, .content .work .work-item-last .next {
  display: inline-block;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: 7px;
  background: url("../images/next.png");
}
/* line 228, ../sass/screen.scss */
.content .work .work-item .next:hover, .content .work .work-item-last .next:hover {
  background: url("../images/next_h.png");
  background-color: #2daebf;
}
/* line 233, ../sass/screen.scss */
.content .work .work-item p.desc, .content .work .work-item-last p.desc {
  color: #979797;
  border-top: 1px solid #2daebf;
  padding-top: 15px;
  margin-top: 10px;
  font-size: 13px;
}
/* line 241, ../sass/screen.scss */
.content .work .work-item-last {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .work .work-item-last {
  overflow-x: hidden;
}
/* line 246, ../sass/screen.scss */
.content .work-open-h h1 {
  font-size: 30px;
  color: #4f4f4f;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  margin-top: 30px;
  margin-bottom: 5px;
}
/* line 252, ../sass/screen.scss */
.content .work-open-h h1 a {
  font-size: 14px;
  color: #2daebf;
  float: right;
  margin-top: 14px;
  text-decoration: underline;
}
/* line 261, ../sass/screen.scss */
.content .work-open-h p a {
  color: #2daebf;
  font-size: 14px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-decoration: underline;
}
/* line 268, ../sass/screen.scss */
.content .work-open-h p.desc {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 790px;
  padding-left: 40px;
  color: #4f4f4f;
  font-size: 12px;
  line-height: 24px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  margin-top: 20px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .work-open-h p.desc {
  overflow-x: hidden;
}
/* line 277, ../sass/screen.scss */
.content .work-open-h .ipad {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 870px;
  padding-left: 40px;
  background: url("../images/image.png") no-repeat center center;
  margin-top: 45px;
  height: 700px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .work-open-h .ipad {
  overflow-x: hidden;
}
/* line 283, ../sass/screen.scss */
.content .work-open-h .ipad i.frame {
  background: url("../images/ipad.png") no-repeat;
  display: block;
  height: 672px;
  width: 862px;
  border-radius: 50px;
  box-shadow: 0px 10px 10px #b0b0b0;
}
/* line 292, ../sass/screen.scss */
.content .work-open-h .booklet {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin-top: 20px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .work-open-h .booklet {
  overflow-x: hidden;
}
/* line 295, ../sass/screen.scss */
.content .work-open-h .booklet img {
  width: 950px;
  height: 700px;
}
/* line 300, ../sass/screen.scss */
.content .work-open-h .city-light {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  padding-left: 240px;
  margin-top: 20px;
  background: url("../images/image1.png") no-repeat;
  background-position: 325px 30px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .work-open-h .city-light {
  overflow-x: hidden;
}
/* line 306, ../sass/screen.scss */
.content .work-open-h .city-light i.frame {
  background: url("../images/frame.png") no-repeat;
  display: block;
  height: 701px;
  width: 531px;
}
/* line 316, ../sass/screen.scss */
.content .work-open-v .ipad {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 670px;
  background: url("../images/image2.png") no-repeat;
  background-position: 78px 86px;
  margin-top: 45px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .work-open-v .ipad {
  overflow-x: hidden;
}
/* line 321, ../sass/screen.scss */
.content .work-open-v .ipad i.frame {
  background: url("../images/ipad1.png") no-repeat;
  display: block;
  height: 860px;
  width: 673px;
}
/* line 328, ../sass/screen.scss */
.content .work-open-v .desc {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
  padding-left: 40px;
  margin-top: 44px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .work-open-v .desc {
  overflow-x: hidden;
}
/* line 332, ../sass/screen.scss */
.content .work-open-v .desc p {
  text-align: right;
}
/* line 334, ../sass/screen.scss */
.content .work-open-v .desc p a {
  color: #2daebf;
  font-size: 14px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
/* line 340, ../sass/screen.scss */
.content .work-open-v .desc h1 {
  font-size: 30px;
  color: #4f4f4f;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  margin-top: 70px;
  margin-bottom: 5px;
}
/* line 347, ../sass/screen.scss */
.content .work-open-v .desc p.name {
  text-align: left;
}
/* line 349, ../sass/screen.scss */
.content .work-open-v .desc p.name a {
  color: #2daebf;
  font-size: 14px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-decoration: underline;
}
/* line 356, ../sass/screen.scss */
.content .work-open-v .desc p.description {
  text-align: left;
  color: #4f4f4f;
  font-size: 12px;
  line-height: 24px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  margin-top: 40px;
}
/* line 367, ../sass/screen.scss */
.content .team {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
/* line 369, ../sass/screen.scss */
.content .team .development, .content .team .web-design, .content .team .complex-websites {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  margin-top: 50px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .team .development, * html .content .team .web-design, * html .content .team .complex-websites {
  overflow-x: hidden;
}
/* line 372, ../sass/screen.scss */
.content .team .development h2, .content .team .web-design h2, .content .team .complex-websites h2 {
  color: #2daebf;
  font-size: 30px;
  padding-left: 10px;
  font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
}
/* line 377, ../sass/screen.scss */
.content .team .development h2 span, .content .team .web-design h2 span, .content .team .complex-websites h2 span {
  background: url("../images/ico-1.png") no-repeat;
  display: inline-block;
  width: 75px;
  height: 65px;
  background-color: #2daebf;
}
/* line 385, ../sass/screen.scss */
.content .team .development p, .content .team .web-design p, .content .team .complex-websites p {
  margin-top: 15px;
  line-height: 20px;
  font-size: 14px;
}
/* line 393, ../sass/screen.scss */
.content .team .web-design h2 span {
  background: url("../images/ico-2.png") no-repeat;
  width: 45px;
  background-color: #2daebf;
}
/* line 400, ../sass/screen.scss */
.content .team .complex-websites {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .team .complex-websites {
  overflow-x: hidden;
}
/* line 403, ../sass/screen.scss */
.content .team .complex-websites h2 span {
  background: url("../images/ico-3.png") no-repeat;
  background-color: #2daebf;
}
/* line 409, ../sass/screen.scss */
.content .team .code-quality, .content .team .business-driven-development, .content .team .agile-development, .content .team .user-stories, .content .team .pair-programming, .content .team .open-source {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 590px;
  margin-top: 50px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .team .code-quality, * html .content .team .business-driven-development, * html .content .team .agile-development, * html .content .team .user-stories, * html .content .team .pair-programming, * html .content .team .open-source {
  overflow-x: hidden;
}
/* line 412, ../sass/screen.scss */
.content .team .code-quality h2, .content .team .business-driven-development h2, .content .team .agile-development h2, .content .team .user-stories h2, .content .team .pair-programming h2, .content .team .open-source h2 {
  color: #2daebf;
  font-size: 30px;
  font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
}
/* line 417, ../sass/screen.scss */
.content .team .code-quality p, .content .team .business-driven-development p, .content .team .agile-development p, .content .team .user-stories p, .content .team .pair-programming p, .content .team .open-source p {
  margin-top: 20px;
  line-height: 20px;
  font-size: 14px;
}
/* line 423, ../sass/screen.scss */
.content .team .code-quality-img, .content .team .business-driven-development-img, .content .team .agile-development-img, .content .team .open-source-img {
  display: inline;
  float: left;
  margin-right: 0;
  width: 350px;
  margin-top: 99px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .team .code-quality-img, * html .content .team .business-driven-development-img, * html .content .team .agile-development-img, * html .content .team .open-source-img {
  overflow-x: hidden;
}
/* line 426, ../sass/screen.scss */
.content .team .code-quality-img img, .content .team .business-driven-development-img img, .content .team .agile-development-img img, .content .team .open-source-img img {
  width: 350px;
  height: 160px;
}
/* line 432, ../sass/screen.scss */
.content .team .business-driven-development-img img {
  width: 350px;
  height: 235px;
}
/* line 438, ../sass/screen.scss */
.content .team .agile-development-img img {
  width: 350px;
  height: 210px;
}
/* line 443, ../sass/screen.scss */
.content .team .user-stories {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .team .user-stories {
  overflow-x: hidden;
}
/* line 446, ../sass/screen.scss */
.content .team .pair-programming {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .team .pair-programming {
  overflow-x: hidden;
}
/* line 449, ../sass/screen.scss */
.content .team .our-team, .content .team .clients {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin-top: 50px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .team .our-team, * html .content .team .clients {
  overflow-x: hidden;
}
/* line 452, ../sass/screen.scss */
.content .team .our-team h2, .content .team .clients h2 {
  color: #2daebf;
  font-size: 30px;
  font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
}
/* line 457, ../sass/screen.scss */
.content .team .our-team .boximage, .content .team .clients .boximage {
  display: inline-block;
  margin-top: 15px;
  margin-right: 30px;
}
/* line 461, ../sass/screen.scss */
.content .team .our-team .boximage img, .content .team .clients .boximage img {
  width: 85px;
  height: 100px;
}
/* line 465, ../sass/screen.scss */
.content .team .our-team .boximage p.name, .content .team .clients .boximage p.name {
  color: #4f4f4f;
  margin-top: 10px;
}
/* line 469, ../sass/screen.scss */
.content .team .our-team .boximage p.developer, .content .team .clients .boximage p.developer {
  color: #979797;
  font-size: 12px;
  margin-top: 5px;
}
/* line 477, ../sass/screen.scss */
.content .team .clients img {
  height: 57px;
  margin-right: 30px;
  margin-top: 15px;
}
/* line 484, ../sass/screen.scss */
.content .home {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
/* line 486, ../sass/screen.scss */
.content .home .development, .content .home .web-design, .content .home .complex-websites, .content .home .latest-work, .content .home .about-us {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  margin-top: 50px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .home .development, * html .content .home .web-design, * html .content .home .complex-websites, * html .content .home .latest-work, * html .content .home .about-us {
  overflow-x: hidden;
}
/* line 489, ../sass/screen.scss */
.content .home .development h2, .content .home .web-design h2, .content .home .complex-websites h2, .content .home .latest-work h2, .content .home .about-us h2 {
  color: #2daebf;
  font-size: 30px;
  font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
}
/* line 494, ../sass/screen.scss */
.content .home .development p, .content .home .web-design p, .content .home .complex-websites p, .content .home .latest-work p, .content .home .about-us p {
  margin-top: 15px;
  line-height: 20px;
  font-size: 14px;
}
/* line 500, ../sass/screen.scss */
.content .home .complex-websites {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .home .complex-websites {
  overflow-x: hidden;
}
/* line 503, ../sass/screen.scss */
.content .home .about-us {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .home .about-us {
  overflow-x: hidden;
}
/* line 506, ../sass/screen.scss */
.content .home .latest-work {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .home .latest-work {
  overflow-x: hidden;
}
/* line 508, ../sass/screen.scss */
.content .home .latest-work .work-item, .content .home .latest-work .work-item-last {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  margin-top: 15px;
  border-bottom: 1px solid #2daebf;
  padding-bottom: 15px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .home .latest-work .work-item, * html .content .home .latest-work .work-item-last {
  overflow-x: hidden;
}
/* line 514, ../sass/screen.scss */
.content .home .latest-work .work-item a img, .content .home .latest-work .work-item-last a img {
  width: 310px;
  height: 200px;
}
/* line 519, ../sass/screen.scss */
.content .home .latest-work .work-item .name, .content .home .latest-work .work-item-last .name {
  font-size: 18px;
  text-decoration: none;
  color: #363636;
  display: inline-block;
  margin-top: 5px;
}
/* line 526, ../sass/screen.scss */
.content .home .latest-work .work-item .next, .content .home .latest-work .work-item-last .next {
  display: inline-block;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: 7px;
  background: url("../images/next.png");
}
/* line 533, ../sass/screen.scss */
.content .home .latest-work .work-item .next:hover, .content .home .latest-work .work-item-last .next:hover {
  background: url("../images/next_h.png");
  background-color: #2daebf;
}
/* line 539, ../sass/screen.scss */
.content .home .latest-work .work-item-last {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .home .latest-work .work-item-last {
  overflow-x: hidden;
}
/* line 543, ../sass/screen.scss */
.content .home .latest-blog {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  margin-top: 50px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .home .latest-blog {
  overflow-x: hidden;
}
/* line 546, ../sass/screen.scss */
.content .home .latest-blog h2 {
  color: #2daebf;
  font-size: 30px;
  font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
  margin-bottom: 18px;
}
/* line 552, ../sass/screen.scss */
.content .home .latest-blog p {
  color: #979797;
}
/* line 555, ../sass/screen.scss */
.content .home .latest-blog h4 {
  color: #2daebf;
  margin-top: 15px;
  margin-bottom: 3px;
}
/* line 561, ../sass/screen.scss */
.content .home .our-team, .content .home .clients {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin-top: 50px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content .home .our-team, * html .content .home .clients {
  overflow-x: hidden;
}
/* line 564, ../sass/screen.scss */
.content .home .our-team h2, .content .home .clients h2 {
  color: #2daebf;
  font-size: 30px;
  font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
}
/* line 569, ../sass/screen.scss */
.content .home .our-team .boximage, .content .home .clients .boximage {
  display: inline-block;
  margin-top: 15px;
  margin-right: 30px;
}
/* line 573, ../sass/screen.scss */
.content .home .our-team .boximage img, .content .home .clients .boximage img {
  width: 85px;
  height: 100px;
}
/* line 577, ../sass/screen.scss */
.content .home .our-team .boximage p.name, .content .home .clients .boximage p.name {
  color: #4f4f4f;
  margin-top: 10px;
}
/* line 581, ../sass/screen.scss */
.content .home .our-team .boximage p.developer, .content .home .clients .boximage p.developer {
  color: #979797;
  font-size: 12px;
  margin-top: 5px;
}
/* line 589, ../sass/screen.scss */
.content .home .clients img {
  height: 57px;
  margin-right: 30px;
  margin-top: 15px;
}

/* line 597, ../sass/screen.scss */
footer {
  background: #4f4f4f;
}
/* line 599, ../sass/screen.scss */
footer .footer-container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  color: #fff;
  line-height: 24px;
  padding-top: 40px;
}
/* line 604, ../sass/screen.scss */
footer .footer-container h4 {
  color: #979797;
}
/* line 607, ../sass/screen.scss */
footer .footer-container ul {
  margin-top: 35px;
}
/* line 610, ../sass/screen.scss */
footer .footer-container ul li a {
  color: #fff;
  text-decoration: none;
}
/* line 613, ../sass/screen.scss */
footer .footer-container ul li a:hover {
  color: #2daebf;
}
/* line 619, ../sass/screen.scss */
footer .footer-container .sitemap {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
  padding-left: 80px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer .footer-container .sitemap {
  overflow-x: hidden;
}
/* line 623, ../sass/screen.scss */
footer .footer-container .resources {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer .footer-container .resources {
  overflow-x: hidden;
}
/* line 626, ../sass/screen.scss */
footer .footer-container .tweet {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  padding-left: 40px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer .footer-container .tweet {
  overflow-x: hidden;
}
/* line 629, ../sass/screen.scss */
footer .footer-container .tweet p {
  background-color: #2daebf;
  margin-top: 27px;
  padding: 8px;
  position: relative;
}
/* line 634, ../sass/screen.scss */
footer .footer-container .tweet p span {
  display: block;
  width: 23px;
  height: 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url('../images/sprites-s1a50462d33.png') 0 0 no-repeat;
}
/* line 644, ../sass/screen.scss */
footer .footer-container .tweet span {
  float: right;
}
/* line 648, ../sass/screen.scss */
footer .footer-container .address {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
  padding-left: 40px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer .footer-container .address {
  overflow-x: hidden;
}
/* line 651, ../sass/screen.scss */
footer .footer-container .address h4 {
  text-decoration: underline;
}
/* line 654, ../sass/screen.scss */
footer .footer-container .address address {
  margin-top: 35px;
}
/* line 657, ../sass/screen.scss */
footer .footer-container .address a {
  color: #2daebf;
}
/* line 661, ../sass/screen.scss */
footer .footer-container .social {
  display: inline;
  float: left;
  margin-right: 0;
  width: 110px;
}
/* line 147, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer .footer-container .social {
  overflow-x: hidden;
}
/* line 663, ../sass/screen.scss */
footer .footer-container .social a {
  float: right;
}
